body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    direction: rtl;
    text-align: right;
}

/* .header {
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
} */
header {
    display: flex;
    flex-direction: row;
    /* This will arrange elements horizontally */
    justify-content: space-between;
    /* This will distribute space evenly between elements */
    /* This will vertically center the elements */
}

input {
    direction: rtl;
    border: none;
    border-bottom: 1px solid #ccc;
    /* Adjust color and thickness as needed */
}

.customer {
    right: 0;
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    /* Reverse the direction */
    align-items: center;
    /* Align items vertically */
}

.customer input,
.customer label {
    /* border: none; */
    direction: rtl;
    margin-left: 10px;
    /* Add margin between elements */
}

.customer label {
    margin: 10px;
}

.logo img {
    width: 220px;
}

.business-details {
    text-align: right;
    right: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

#add-row,
#export-pdf,
#calc,
#e {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#content {
    width: 100%;
}